@font-face {
    font-family: Inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    overflow: hidden;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    margin: 0px;
    opacity: 0.1;
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%);
    animation: scrollRightToLeft 2s linear infinite;
    
  }
  
  @keyframes scrollRightToLeft {
    0% {
      left: 100%; /* Start position - rightmost position */
    }
    100% {
      left: -10%; /* End position - leftmost position */
    }
  }
  